*{
  font-family:'Dancing Script', cursive;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  
}

.site-layout-content {
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  background: white;
}
.loading{
 display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
} 


